.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  border-collapse: collapse;
margin: 2%;

}
table tr th{
  font-size: 30px;
  border: 5px solid #3366ff;
  background-color: #3366ff;
  color: white;
  


}
table tr td{
  font-size: 25px;
  border: 5px solid #3366ff;
  font-weight: bold;
  padding: 5px;
  color: rgb(203, 133, 47);
}
span{
  cursor: pointer;
}
h1{
  font-size: 40px;
  color: teal;
}
h2{
  color: tomato;
  font-size: 30px;
}
label {
  font-size: x-large;
}
.checkBox{
  width: 30px;
  height: 30px;
}