.infoContainer {
    display: flex;
    justify-content: space-evenly;
    margin-left: 8rem;
    margin-right: 8px;
}

.imageDiv {
    border-radius: 30px;
    border: 1px solid;
    overflow: hidden;
}

h3 {
    font-size: 1.8rem;
}

.textInformationDiv {
    display: flex;
}

.contentDiv {
    width: 20rem;
    background-color: rgb(177, 219, 251);
    margin-right: 1rem;
    text-align: center;
    padding: 1rem;
    color: rgb(106, 106, 106);
}

.aboutHeading {
    font-size: 5rem;
    margin-left: 13rem;
}